@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	margin: 0px 0px 0px 0px;
}
body {
	overflow-x: hidden;
}
.header{
    width: 100%;
    height: 84px;
    background: url('../images/bj_00.jpg') center no-repeat;
}
.menu{
    width: 1080px;
    height: 100%;
    margin: 0px auto;
}
.menu .text{
    width: 560px;
    height: 100%;
    float: right;
}
.menu .text ul li{
    list-style: none;
    float: left;
    height: 100%;
    /* font-weight: bold; */
    margin-left: 30px;
    text-align: center;
    margin-top: 15px;
}
.menu .text ul li .atext{
    font-size: 25px;
}
.menu .text ul li .ftext{
    font-size: 15px;
}
.menu .text ul li:hover{
    color: #404040;
}
.menu .text ul li a:link{
    color: #404040;
    text-decoration: none;
}
.menu .text ul li a:active{
    color: #404040;
}
.menu .text ul li a:visited{
    color: #404040;
}
.menu .text ul li a:hover{
    color: #B52A00;
}
.bigcontainer {
	width: 100%;
	background: #000;
	top:-110;
}
.test {
	border: 1px solid red;
}
.fl {
	float: left;
}
.cl {
	clear: both;
}
.bl {
	display: block;
}
.ab {
	position: absolute;
	left: 431px;
	top: 0px;
}
.rl {
	position: relative;
	width: 70px;
	height: 70px;
}
.topcontainer {
	width:1920px;height:940px;left: 50%;margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_01.jpg) no-repeat center;
	background-position: -0px -0px;
}

.animatetop{	
	width:1920px;height:940px;left:50%;margin-left:-960px;

}
.bg4con{
    width: 1280px;
    height: 550px;
    position: relative;
    top: 160px;
    left: 320px;
    /* border: 1px solid red; */
}
.bg5btns{
    position: relative;
    top: -174px;
    width: 79%;
    left: 0px;
    height: 70px;
    margin: 0px auto;
}
.bg5prev,
.bg5next{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}
.bg5prev{
    left: 0;
}
.bg5next{
    right: 0;
}
.topcontainer .topnavs{
	width:616px;height:30px;left:50%;margin-left:-41px;top:23px;
}

.topcontainer .topnavs .nav{
	width:112px;height:30px;
}

.topcontainer .topnavs .nav1{
	margin-left:0px;;
}

.topcontainer .topnavs .nav2{
	margin-left:167px;;
}

.topcontainer .topnavs .nav3{
	margin-left:335px;;
}

.topcontainer .topnavs .nav4{
	margin-left:503px;;
}



.topcontainer .navs{
	width:938px;height:263px;left:50%;margin-left:-471px;top:836px;
}

.topcontainer .navs .nav{
	width:177px;height:178px;
}

.topcontainer .navs .nav1{
	margin-left:0px;top:86px;
}

.topcontainer .navs .nav2{
	margin-left:255px;top:35px;
}

.topcontainer .navs .nav3{
	margin-left:508px;top:0px;
}

.topcontainer .navs .nav4{
	margin-left:761px;top:7px;
}


.topcontainer .navs .nav:hover{
	cursor: pointer;	
}

.gameIntro {
	width:1920px;
	height:858px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_02.jpg) no-repeat center;
	background-position: 0px -0px;
	background-image: url(../images/bj_02.jpg);
}

.gameIntro .introTexts{
	width:686px;height:366px;left:50%;margin-left:-503px;top:108px;
}

.gameIntro .introTexts .line{width:669px;height:42px;}
.gameIntro .introTexts .lineTitle{width:99px;height:22px;top:9px;left: 10px;color: #fbfff5;}
.gameIntro .introTexts .lineText{width:521px;height:26px;top:14px;left: 120px;color: #000000;}
.gameIntro .introTexts .line:hover，.gameIntro .introTexts .lineTitle:hover,.gameIntro .introTexts .lineText:hover{
	cursor: none;
}

.gameIntro .introTexts .line1{left: 18px;top: 5px;}
.gameIntro .introTexts .line2{left: 18px;top: 57px;}
.gameIntro .introTexts .line3{left: 18px;top: 109px;}
.gameIntro .introTexts .line4{left: 18px;top: 161px;}
.gameIntro .introTexts .line5{left: 18px;top: 213px;}
.gameIntro .introTexts .line6{left: 18px;top: 265px;}
.gameIntro .introTexts .line7{left: 18px;top: 317px;}




.gzshow{
	width:1920px;
	height:1065px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_03.jpg) no-repeat center;
	background-position: 0px -0px;
	background-image: url(../images/bj_03.jpg);
}


.zbShow{
	width:1920px;
	height:719px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background-position: 0px 0px;
	background-image: url(../images/bj_04.jpg);
	background-repeat: no-repeat;
}

.gzimg{width:309px;height:309px;left:50%;margin-left:-366px;top:221px;background: url(../images/bj04_jcjt/gifdh.gif) no-repeat center;z-index: 50;}

.zbShow2{
	width:1920px;
	height:996px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_05.jpg) no-repeat center;
	background-position: 0px -0px;
	background-image: url(../images/bj_05.jpg);
}

.zbShow2 .zbtext{width:1077px;height:40px;left: 421px;}
.zbShow2 .zbtext .text{font-size: 27px;color: white;}
.zbShow2 .zbtext1{top: 570px;}
.zbShow2 .zbtext2{top: 1046px;}
.zbShow2 .zbtext3{top: 1524px;}


.zbShow22{
	width:1920px;
	height:996px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_055.jpg) no-repeat center;
	background-position: 0px -0px;
	background-image: url(../images/bj_055.jpg);
}

.zbShow22 .zbtext{width:1077px;height:40px;left: 421px;}
.zbShow22 .zbtext .text{font-size: 27px;color: white;}
.zbShow22 .zbtext1{top: 570px;}
.zbShow22 .zbtext2{top: 1046px;}
.zbShow22 .zbtext3{top: 1524px;}




.bottom{
	width:1920px;
	height:1477px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background-position: 0px 0px;
	background-image: url(../images/bj_06.gif);
	background-repeat: no-repeat;
}

.slide1{
	width:1145px;height:559px;left: 50%;margin-left: -573px;top:107px;
	
}

.slide1 .uls li{list-style: none;}

.slide1 .prev,.slide1 .next{width:32px;height:50px;}
.slide1 .prev{top:-315px;left:-38px;}
.slide1 .next{top:-367px;left:1144px;}

.slide2{
	width:1146px;height:651px;left: 737px;margin-left: -560px;top:166px;
	
}

.slide2 .uls li{list-style: none;}

.slide2 .prev,.slide2 .next{width:80px;height:80px;}
.slide2 .prev{top:-540px;left:-630px;}
.slide2 .next{top:-620px;left:630px;}

.slide2 .slide2hd{width:369px;height:113px;left: 1075px;margin-left: -495px;top:570px;}

.slide2 .slide2hd .sm{width:200px;height:180px;}
.slide2 .slide2hd .sm:hover{cursor: pointer;}

.slide2 .slide2hd .sm1{left:0px;} 
.slide2 .slide2hd .sm1.on{background:url(../images/bj04fb/1.gif);} 

.slide2 .slide2hd .sm2{left:125px;} 
.slide2 .slide2hd .sm2.on{background:url(../images/bj04fb/2.gif);} 

.slide2 .slide2hd .sm3{left:250px;} 
.slide2 .slide2hd .sm3.on{background:url(../images/bj04fb/3.gif);} 

.slide2 .slide2hd .sm4{left:375px;} 
.slide2 .slide2hd .sm4.on{background:url(../images/bj04fb/4.gif);} 

.slide2 .slide2hd .sm5{left:500px;} 
.slide2 .slide2hd .sm5.on{background:url(../images/bj04fb/5.gif);}

.slide2 .slide2hd .sm6{left:624px;} 
.slide2 .slide2hd .sm6.on{background:url(../images/bj04fb/6.gif);}

.slide3{width:458px;height:645px;left: 983px;margin-left: -827px;top:112px;}
.slide3 .uls li{list-style: none;}
.slide3 .prev,.slide3 .next{width:60px;height:80px;}
.slide3 .prev{top:-320px;left:-267px;}
.slide3 .next{top:-395px;left:1061px;background-image: url(../images/LG.png);}


.slide31{
	width:866px;height:483px;left: 1066px;margin-left: -539px;top:131px;
	
}

.slide31 .uls li{list-style: none;}

.slide31 .prev,.slide3 .next{width:40px;height:80px;}
.slide31 .prev{top:7px;left:577px;}
.slide31 .next{
	top:-70px;
	left:-577px;
	background-image: url(../images/LG.png);
}


.slide4{width:458px;height:645px;left: 50%;margin-left:-542px;top:194px;}
.slide4 .uls li{list-style: none;}
.slide4 .prev,.slide4 .next{width:40px;height:52px;}
.slide4 .prev{top:-320px;left:-304px;}
.slide4 .next{top:-372px;left:932px;}


.slide5{
	width:1078px;height:419px;left: 50%;margin-left: -539px;top:1097px;
	
}

.slide5 .uls li{list-style: none;}

.slide5 .prev,.slide5 .next{width:40px;height:52px;}
.slide5 .prev{top:-262px;left:-85px;}
.slide5 .next{top:-317px;left:1121px;}



.list-info{
	width: 658px;
	height: 453px;
	/* border: 1px solid red; */
	margin: 200px auto;
	margin-top: 289px;
	position: absolute;
	left: 809px;
	top: 8px;
}
#docColumn{float:left;width:580px;height:455px;position:relative;overflow:hidden;padding-top:21px;padding-left:18px;}
#docColumn .Tab_nr{height:360px;overflow:hidden;margin-bottom:40px;}
#docColumn .NewsList{margin-right:56px;margin-left:16px;}

.NewsList li{height:53px;line-height:53px;font-size:20px;transition:all 0.1s linear;}
.NewsList li:hover{transform:translatex(5px);}
.NewsList li a{overflow:hidden;color:#f5c69d;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;display:block;}
.NewsList li time{float:right;color:#aaabaf;}
.NewsList li .lx{float:left;}
.NewsList li:hover a{color:#ae862e;}

ul, ol {
	list-style-type: none;
}

.navs {width: 572px;height: 256px;left:50%;margin-left: -286px;top: 801px;z-index: 99;}
.nav1,.nav2,.nav3,.nav4 {width: 123px;height: 253px;}
.nav1 {background:url(../images/xz.png) no-repeat;}
.nav2 {background:url(../images/cz.png) no-repeat;margin-left: 96px;}
.nav3 {background:url(../images/kf.png) no-repeat;float: right;}
.nav1:hover,.nav2:hover,.nav3:hover,.nav4:hover {margin-top:-10px;cursor: pointer;}

.slide2{width:1258px;height:586px;left: 758px;margin-left: -265px;top:31px;}
.slide2 .uls li{list-style: none;}
.slide2 .prev,.slide2 .next{width:40px;height:52px;}
.slide2 .prev{top:150px;left:-614px;}
.slide2 .next{top:97px;left:525px;}
.slide2 .slide2hd{width:1000px;height:230px;left: 105px;margin-left:-307px;top:239px;}
.slide2 .slide2hd .sm{width:200px;height:180px;}
.slide2 .slide2hd .sm:hover{cursor: pointer;}

.slide2 .slide2hd .sm1{left:-76px;margin-top: 236px;} 
.slide2 .slide2hd .sm1.on{background:url(../images/bj04_jcjt/01.png);} 

.slide2 .slide2hd .sm2{left:99px;margin-top: 238px;} 
.slide2 .slide2hd .sm2.on{background:url(../images/bj04_jcjt/03.png);} 

.slide2 .slide2hd .sm3{left:264px;margin-top: 234px;} 
.slide2 .slide2hd .sm3.on{background:url(../images/bj04_jcjt/05.png);} 

.slide2 .slide2hd .sm4{left:444px;margin-top: 216px;} 
.slide2 .slide2hd .sm4.on{background:url(../images/bj04_jcjt/07.png);} 

.slide2 .slide2hd .sm5{left:-71px;margin-top: 606px;} 
.slide2 .slide2hd .sm5.on{background:url(../images/bj04_jcjt/09.png);}

.slide2 .slide2hd .sm6{left:-71px;margin-top: 690px;} 
.slide2 .slide2hd .sm6.on{background:url(../images/bj04_jcjt/11.png);}


.items {width: 1723px;left:50%;margin-left: -811px;margin-top: 843px;}
.items ul{}
.items li{width: 45px;height:149px;float:left;list-style:none;margin-right: 76px;}

.itemcss{position:relative;width: 42px;height:52px;margin:0 auto;} 
.itemcss a,.itemcss span{display:none; text-decoration:none}
.itemcss:hover{cursor:pointer} 
.itemcss:hover a.now{cursor:pointer; position:absolute; top:0; width:100%; height:100%;
 z-index:100; left:0; display:block;}
.itemcss:hover span{ display:block;position:absolute; bottom:0; left:0;color:#FFF;margin-left:50px;
z-index:10;height:36px; line-height:36px; filter:alpha(opacity=90);-moz-opacity:0.9;opacity: 0.9;}

#preview{position:absolute;border:1px solid #614635;background:#3c2116;padding:5px;display:none;color:#fff;z-index:222;}



.list-info{
	width: 658px;
	height: 453px;
	margin-top: 233px;
	position: absolute;
	left: 634px;
}
.NewsList li{height:53px;line-height:53px;font-size:19px;transition:all 0.1s linear;}
	.NewsList li:hover{transform:translatex(5px);}
	.NewsList li a{float: left;overflow:hidden;color:#f5c69d;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;display:block;}
	.NewsList li time{float:right;color:#aaabaf;}
	.NewsList li .lx{float:left;}
	.NewsList li:hover a{color:#ae862e;}

	ul, ol {
		list-style-type: none;
	}

