/**
 * CSS Reset.
 */
html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0; }

body,
button, input, select, textarea {
  font: 12px/1.5 arial,\5b8b\4f53;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

caption, th, b {
  font-weight: normal;
  font-style: normal; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp {
  font-family: courier new, courier, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

/* for ie6 */
fieldset {
  border: 0; }

button, input, select, textarea {
  font-size: 100%; }

html, img {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section, article, aside, header, footer, nav, dialog, figure {
  display: block; }

figure {
  margin: 0; }
  
.zxl {
    position: absolute;
    content: '';
    width: 187px;
    height: 176px;
    background: url(../images/baox.png) no-repeat;
    top: -60px;
    right: 280px;
    outline: none;
    animation: sca 1s infinite alternate;
    margin: 708px auto 0;
}