body{
	background: #181a1a;
	font-family: "Microsoft Yahei";
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.logo2 {
    position: absolute;
    top: 20px;
    left: 72%;
    width: 205px;
    height: 57px;
    background-image: url(../images/jinr.png);
    z-index: 999;
}
.logo2 a {
    display: block;
    width: 100%;
    height: 100%;
}

.u-btn{
    cursor: pointer;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;    
    width: 100%;
    height: 100%;
    /*height: 1080px;*/
    background: url(../images/bg-index.jpg) center no-repeat;
}

.main-view{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;    
    width: 100%;
    /*height: 1080px;*/
    background: url(../images/bg-main.jpg) center no-repeat;    
}

.fade {
	-webkit-opacity:0;
	-moz-opacity:0;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:1s;
	-moz-transition:1s;
	-ms-transition:1s;
	-o-transition:1s;
	transition:1s
}
.fade.fadeIn {
	z-index:10;
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
	filter:alpha(opacity=100)
}

.masky{
    width: 100%;
    /*height: 1080px;*/
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 800;
    -webkit-mask: url(../images/masky.png) center no-repeat;
    -webkit-mask-size: 4000% 100%;
    will-change: transform;
}

.masky.show{
    -webkit-animation: masky .85s steps(39) forwards 300ms 0 ease;
    -moz-animation: masky .85s steps(39) forwards 300ms 0 ease;
    -ms-animation: masky .85s steps(39) forwards 300ms 0 ease;
    animation: masky .85s steps(39) forwards 300ms 0 ease;
    -moz-animation: masky .85s steps(39) forwards;
    -webkit-animation: masky .85s steps(39) forwards;
    -o-animation: masky .85s steps(39) forwards;
    -ms-animation: masky .85s steps(39) forwards;
    animation: masky .85s steps(39) forwards;
}

.masky.end {
	-webkit-mask-position:100% 0
}
@-webkit-keyframes masky {
	0% {
	-webkit-mask-position:0 0
}
100% {
	-webkit-mask-position:100% 0
}
}@-moz-keyframes masky {
	0% {
	-webkit-mask-position:0 0
}
100% {
	-webkit-mask-position:100% 0
}
}@-ms-keyframes masky {
	0% {
	-webkit-mask-position:0 0
}
100% {
	-webkit-mask-position:100% 0
}
}@-o-keyframes masky {
	0% {
	-webkit-mask-position:0 0
}
100% {
	-webkit-mask-position:100% 0
}
}@keyframes masky {
	0% {
	-webkit-mask-position:0 0
}
100% {
	-webkit-mask-position:100% 0
}
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0; } }

@keyframes moveUp {
  0% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0; } }

.logo{
    position: absolute;
    top: 20px;
    left: 2%;
    width: 324px;
    height: 156px;
    background-image: url(../images/logo.png);
    z-index: 999;
}

.logo a{
    display: block;
    width: 100%;
    height: 100%;
}

.u-nav{
    position: absolute;
    top: 20px;
    right: 2%;
    z-index: 999;
}

.u-nav a{
    float: left;
    display: block;
    width: 106px;
    height: 27px;
    margin-left: 10px;
    transition: all .4s;    
}

.u-nav a:hover{
    opacity: .75;
}

.u-nav a.item-1{background-image: url(../images/btn-link-1.png);}
.u-nav a.item-2{background-image: url(../images/btn-link-2.png);}

.sidebar{
    position: fixed;
    right: 3%;
    top: 50%;
    width: 10px;
    height: 424px;
    padding: 130px 0;
    margin-top: -342px;
    background: url(../images/bg-sidebar.png);
    z-index: 999;
}

.nav-item{
    position: relative;
    width: 12px;
    height: 12px;
    left: 50%;
    margin-left: -6px;
    margin-top: 45px;
    background: url(../images/sidebar-normal.png);
    cursor: pointer;
}

.nav-item.active{
    width: 32px;
    height: 47px;
    margin-left: -16px;
    margin-top: 27px;
    background: url(../images/sidebar-active.png);    
}

.nav-item .icon-txt{
    position: absolute;
    left: -80px;
    top: 50%;
    margin-top: -10px;
    background-image: url(../images/sprite-nav.png);
}

@media screen and (max-width: 1385px) {
    .nav-item .icon-txt{
        display: none;
    }
}

.nav-item.active .icon-txt{
    left: -70px;
}

.nav-item.nav-1 .icon-txt{
    width: 67px;
    height: 21px;
    background-position: 0 0;
}

.nav-item.nav-1.active .icon-txt{
    width: 67px;
    height: 21px;
    background-position: 0 -21px;
}

.nav-item.nav-2 .icon-txt{
    width: 68px;
    height: 21px;
    background-position: 0 -42px;
}

.nav-item.nav-2.active .icon-txt{
    width: 68px;
    height: 21px;
    background-position: 0 -63px;
}

.nav-item.nav-3 .icon-txt{
    width: 67px;
    height: 21px;
    background-position: 0 -84px;
}

.nav-item.nav-3.active .icon-txt{
    width: 67px;
    height: 21px;
    background-position: 0 -105px;
}

.nav-item.nav-4 .icon-txt{
    width: 65px;
    height: 21px;
    background-position: -67px 0;
}

.nav-item.nav-4.active .icon-txt{
    width: 65px;
    height: 21px;
    background-position: -67px -21px;
}

.nav-item.nav-5 .icon-txt{
    width: 68px;
    height: 21px;
    background-position: -68px -42px;
}

.nav-item.nav-5.active .icon-txt{
    width: 68px;
    height: 21px;
    background-position: -68px -63px;
}

.nav-item.nav-6 .icon-txt{
    width: 68px;
    height: 21px;
    background-position: -67px -84px;
}

.nav-item.nav-6.active .icon-txt{
    width: 68px;
    height: 21px;
    background-position: -67px -105px;
}

.loading-sign{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

.xxxx{
    position: absolute;
    left: 49%;
    top: 50%;
    width: 124px;
    height: 119px;
    margin-top: 138px;
    margin-left: -45px;
    background: url(../images/icon-play.png);
    cursor: pointer;
}


.xxxx1{
    position: absolute;
    left: 30%;
    top: 53%;
    width: 132px;
    height: 42px;
    margin-top: 138px;
    margin-left: -45px;
    background: url(../images/btn.png);
    cursor: pointer;
}


.xxxx2{
    position: absolute;
    left: 68%;
    top: 53%;
    width: 132px;
    height: 42px;
    margin-top: 138px;
    margin-left: -45px;
    background: url(../images/btn2.png);
    cursor: pointer;
}

.icon-md{
    display: none;
    position: absolute;
    width: 71px;
    height: 104px;
    left: 50%;
    bottom: 30px;
    margin-left: -35px;
    -webkit-animation: "moveUp" 2s infinite;
    animation: "moveUp" 2s infinite;
    background: url(../images/icon-md.png);    
}

.map .content-block{
    width: 1250px;
}

.skin .content-block{
    width: 1260px;
}

.content-block{
    display: table;
    width: 1118px;
    height: 100%;
    margin: 0 auto;    
}

.wrap{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 1118px;
    margin: 0 auto;
}

.content-list{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.content-list-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    transition: all .4s ease-in-out;
}

.content-item{
    position: relative;
    height: 25%;
    overflow: hidden;
}

.content-item .title{
    float: left;
    width: 78px;
    height: 312px;
    margin-top: -15px;  
}

.content-item.skin .title{
    margin-top: 40px;
}

.reward .title{
    background: url(../images/title-1.png);
}

.map .title{
    background: url(../images/title-2.png);
}

.skin .title{
    background: url(../images/title-3.png);
}

.char .title{
    background: url(../images/title-4.png);
}

.event .title{
    background: url(../images/title-5.png);
}

.content-item .view{
    margin-left: 100px;
}

.skin.content-item .view{
    position: relative;
    height: 646px;
}

.m-list ul{
    overflow: hidden;
    margin-left: -20px;
}

.m-list li{
    float: left;
    margin-left: 20px;
    overflow: hidden;
}

.reward .m-list{
    margin-left: 135px;    
}

.reward .detail{
    float: left;
    width: 104px;
    height: 572px;
    background: url(../images/detail-1.png) no-repeat;
}

.reward .list-1 .icon-wrapper{
    width: 277px;
    height: 184px;
    background: url(../images/bg-icon-1.png);
}

.reward .icon-item .pic {
    width: 46px;
    height: 46px;
    margin: 12px auto;
    background-image: url(../images/sprite-icon-reward.png);
}

.A01 {
    background-position: 0 0;
}

.A02 {
    background-position: -46px 0;
}

.A03 {
    background-position: -92px 0;
}

.A04 {
    background-position: -138px 0;
}

.A05 {
    background-position: 0 -46px;
}

.A06 {
    background-position: -46px -46px;
}

.B01 {
    background-position: -92px -46px;
}

.B02 {
    background-position: -138px -46px;
}

.B03 {
    background-position: 0 -92px;
}

.B04 {
    background-position: -46px -92px;
}

.B05 {
    background-position: -92px -92px;
}

.B06 {
    background-position: -138px -92px;
}

.C01 {
    background-position: 0 -138px;
}

.C02 {
    background-position: -46px -138px;
}

.C03 {
    background-position: -92px -138px;
}

.C04 {
    background-position: -138px -138px;
}

.C05 {
    background-position: -184px 0;
}

.C06 {
    background-position: -184px -46px;
}


.reward .notice{
    width: 277px;
    height: 23px;
    line-height: 23px;
    margin-top: 25px;
    background: url(../images/bg-bar-1.png);
    text-align: center;
}

.reward .notice img{
    padding-top: 4px;
}

.reward-list{
    margin-left: -20px;
    overflow: hidden;
}

.reward .list-2{
    padding-top: 35px;
    margin-top: 33px;
    background: url(../images/line-1.png) top left no-repeat;
}

.reward .list-2 .reward-list{
    width: 277px;
}

.icon-item{
    float: left;
    width: 70px;
    height: 70px;
    margin-left: 22px;
    margin-bottom: 20px;
    background: url(../images/icon-item.png);
}

.map .detail{
    float: left;
    width: 88px;
    height: 550px;
    background: url(../images/detail-2.png);
}

.m-boss{
    margin-left: 135px;
}

.map-detail{
    float: left;
    width: 277px;
    height: 470px;
    background: url(../images/map.gif);
}

.boss-list{
    float: left;
    margin-left: 43px;
}

.boss-list ul{
    float: left;
}

.boss-list li{
    width: 84px;
    height: 84px;
    margin-bottom: 12px;
    background: url(../images/icon-boss.png);
}

.boss-list li.active{
    background: url(../images/icon-boss-active.png);
}

.boss-list .icon{
    position: relative;
    top: 9px;
    width: 66px;
    height: 66px;
    margin: 0 auto;
    background-image: url(../images/sprite-boss.png);
    cursor: pointer;
}

.boss-1 .icon{
    background-position: 0 0;
}

.boss-2 .icon{
    background-position: 0 -66px;
}

.boss-3 .icon{
    background-position: 0 -132px;
}

.boss-4 .icon{
    background-position: 0 -198px;
}

.boss-5 .icon{
    background-position: 0 -264px;
}

.boss-txt .content.boss-1{
    width: 427px;
    height: 468px;
    margin-left: 108px;
    background: url(../images/boss-1.png);
}

.boss-txt .content.boss-2{
    width: 412px;
    height: 468px;
    margin-left: 108px;
    background: url(../images/boss-2.png);
}

.boss-txt .content.boss-3{
    width: 575px;
    height: 412px;
    margin-left: 108px;
    background: url(../images/boss-3.png);
}

.boss-txt .content.boss-4{
    width: 549px;
    height: 412px;
    margin-left: 108px;
    background: url(../images/boss-4.png);
}

.boss-txt .content.boss-5{
    width: 580px;
    height: 468px;
    margin-left: 108px;
    background: url(../images/boss-5.png);
}

.skin-list{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -40px;
    overflow: hidden;
}

.skin-list .skin-item{
    float: left;
    width: 298px;
    height: 323px;
    margin-left: 40px;
}

.skin-list .skin-1{
    background: url(../images/01.gif);
}

.skin-list .skin-2{
    background: url(../images/02.gif);
}

.skin-list .skin-3{
    background: url(../images/03.gif);
}

.skin-list .skin-4{
    background: url(../images/04.gif);
}

.skin-list .skin-5{
    background: url(../images/05.gif);
}

.skin-list .skin-6{
    background: url(../images/06.gif);
}

.char .char-name{
    height: 31px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: left center;
}

.char .c1 .char-name{
    background-image: url(../images/title-c1.png);
}

.char .c2 .char-name{
    background-image: url(../images/title-c2.png);
}

.char .c1 .char-txt{
    width: 433px;
    height: 186px;
    margin-bottom: 30px;
    background-image: url(../images/txt-c1.png);
}

.char .c2 .char-txt{
    width: 433px;
    height: 185px;
    margin-bottom: 30px;
    background-image: url(../images/txt-c2.png);
}

.skill-title{
    width: 91px;
    height: 19px;
    margin-bottom: 10px;
    background-image: url(../images/title-skill.png);
}

.m-tab .hd{
    margin-bottom: 10px;
    overflow: hidden;
}

.skill-icon{
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    background-image: url(../images/skill-normal.png);
    cursor: pointer;   
}

.skill-icon.active{
    background-image: url(../images/skill-active.png);  
}

.skill-icon .pic{
    width: 46px;
    height: 46px;
    margin: 12px auto;
    background-image: url(../images/sprite-icon-skill.png);
}

.S506 {
    background-position: -46px 0;
    
}

.S507 {
    background-position: 0 -46px;
}

.S508 {
    background-position: 0 0;
    
}

.S509 {
    background-position: -46px -46px;
}

.S511 {
    background-position: -92px -46px;
    
}

.S512 {
    background-position: -46px -92px;
    
}

.S513 {
    background-position: 0 -92px;
}

.S514 {
    background-position: -92px 0;    
}

.skill-txt{height: 120px;}

.gameTxt{
    display: block;
    width: 327px;
    height: 42px;
    margin-top: 40px;
    background-image: url(../images/btn-gametxt.png);
}

.char .view{
    position: relative;
}

.char .char-img.c1{
    position: absolute;
    left: 0;
    top: -215px;
    width: 1463px;
    height: 1056px;
    background: url(../images/c1.png);
    z-index: -1;
}

.char .char-img.c2{
    position: absolute;
    left: 75px;
    top: -215px;
    width: 1463px;
    height: 1056px;
    background: url(../images/c2.png);
    z-index: -1;
}

.char .sel-list{
    position: absolute;
    right: 0;
    bottom: 0;
}

.char .u-btn.sel{
    width: 135px;
    height: 158px;
}

.char .u-btn.sel.c1{
    background-image: url(../images/icon-c1.png);
}

.char .u-btn.sel.c2{
    background-image: url(../images/icon-c2.png);
}

.char .u-btn.sel.c1.active{
    background-image: url(../images/icon-c1-active.png);
}

.char .u-btn.sel.c2.active{
    background-image: url(../images/icon-c2-active.png);
}

.event-list{
    overflow: hidden;
}

.event-item{
    float: left;
    width: 33%;
}

.event-cover{
    width: 261px;
    height: 159px;
    margin-bottom: 25px;   
}

.event-1 .event-cover{background-image: url(../images/event-1.png);}
.event-2 .event-cover{background-image: url(../images/event-2.png);}
.event-3 .event-cover{background-image: url(../images/event-3.png);}

.event-title{
    width: 64px;
    height: 14px;
    margin-bottom: 10px;
    background-image: url(../images/title-event.png);    
}

.event-reward .icon-item .pic{
    width: 46px;
    height: 46px;
    margin: 12px auto;  
    background-image: url(../images/sprite-icon-event.png); 
}

.E01 {
    background-position: 0 0;
}

.E02 {
    background-position: -46px 0;
}

.E03 {
    background-position: -92px 0;
}

.E04 {
    background-position: 0 -46px;
}

.E05 {
    background-position: -46px -46px;
}

.F01 {
    background-position: -92px -46px;
}

.F02 {
    background-position: 0 -92px;
}

.F03 {
    background-position: -46px -92px;
}

.F04 {
    background-position: -92px -92px;
}

.F05 {
    background-position: -138px 0;
}

.G01 {
    background-position: -138px -46px;
}

.G02 {
    background-position: -138px -92px;
}

.G03 {
    background-position: 0 -138px;
}

.G04 {
    background-position: -46px -138px;
}

.G05 {
    background-position: -92px -138px;
}

.event-detail{
    width: 100%;
    height: 64px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: left top;
}

.event-1 .event-detail{
    background-image: url(../images/e1.png)
}

.event-2 .event-detail{
    background-image: url(../images/e2.png)
}

.event-3 .event-detail{
    background-image: url(../images/e3.png)
}

.event-link a{
    display: inline-block;
    width: 132px;
    height: 42px;
    background-image: url(../images/btn-event.png);
}

.event-link a.link-1{background-position: 0 0;}
.event-link a.link-2{background-position: -132px 0;}


/* tips */
.topic {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 100px;
  left: 200px; }

.topic .adorn {
  width: 7px;
  height: 11px;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  left: -7px; }

.topic .adorn_r {
  width: 7px;
  height: 11px;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  right: -7px; }

.topic .inner_html {
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  font-family: arial; }

.topic .inner_html a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #990000; }

.topic .inner_html a:hover {
  border-bottom: 2px solid #990000; }

.topic {
  color: #00ff00; }
  .topic .itemDesc {
    width: 260px;
    margin-top: 10px;
    color: #a1e5ff; }
  .topic .type2 {
    color: #fff; }
  .topic .type3 {
    margin-bottom: 10px; }
  .topic .green,
  .topic .strength,
  .topic .agility,
  .topic .mentality,
  .topic .iniMovementSpeed,
  .topic .healthPoint,
  .topic .manaPerSecond,
  .topic .skillStats,
  .integralAddition,
  .topic .smPerSecond,
  .fightingCapAdd {
    color: #00ff00; }
  .topic .skillAdd1 {
    margin-top: 10px; }
  .topic .skillAdd1,
  .topic .skillAdd2 {
    width: 260px; }
    .topic .skillAdd1,
    .topic .skillAdd2 {
      color: #0088ff; }
  .topic .purple {
    color: #9205EA; }
  .topic .gold,
  .topic .type3 {
    color: #FFCC11; }
  .topic .dGold {
    color: #dd9955; }
  .topic .orange,
  .topic .magicValue {
    color: #FF8800; }
  .topic .blue {
    color: #0088ff; }

.u-mask{
    display: none;
    background: #000;
    position: fixed;
    _position: absolute;
    top: 0px;
    filter: Alpha(Opacity=88);
    opacity: 0.88;
    width: 100%;
    z-index: 1000;
    height: 100%;
    _height: 3540px;    
}

.u-win.vidplayer{
    display: none;
    position: fixed;
    _position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -168px;
    border: 5px solid #9e2929;
    z-index: 1001;    
    background: #fff;   
}

.vidplayer .container{
    height: 335px;
}

.vidplayer .close{
    position: absolute;
    top: -5px;
    right: -55px;
    width: 50px;
    height: 50px;
    background: #151515 url(../images/icon-close.png) center no-repeat;
    text-indent: -999em;
    cursor: pointer;    
}

.vidplayer .close:hover{
    background-color: #9e2929;
}

#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-height: 850px) {
    #footer{
        display: none;
    }
}

	.music{ -webkit-animation: rotate 4s linear infinite;animation: rotate 4s linear infinite;}
	.music{width:40px;height:40px;position:fixed;background:url(../images/btn_music_off.png) no-repeat left top;cursor:pointer;z-index:119999;animation-play-state:paused;right:60px;top:70px;}
	.music.ro{animation-play-state:running;background-image:url(../images/btn_music_on.png);}