/** * 当`body`宽度大于`html`宽度时，某些浏览器会出现内部滚动条，所以给`html、body`设置宽度100%。 * 取消部分浏览器点击有阴影。 * 优化移动端滚动事件。 *//** * 移除常用标签的浏览器默认的`margin、padding` * pre、code、legend、fieldset、blockquote……等其他标签不是很常用，所以本css都不会一一列举出来，为了简化。如果项目中用到，可以自己单独写。 *//** * 移除浏览器部分元素的默认边框。 * acronym、fieldset……等其他标签不是很常用，所以本css都不会一一列举出来，为了简化。如果项目中用到，可以自己单独写。 *//*因为`input`默认不继承父元素的居中样式，所以让`input`元素继承父元素的文本居中方式*//*让`textarea`默认不可以放缩*//** * 由于以下元素的部分属性没有继承父节点样式，所以声明这些元素的这些属性为父元素的属性。 * 取消这些元素的`outline`样式。 *//** * 如果绝对定位元素找不到被设置过定位信息的上级元素，那么此元素基于根节点定位，所以给`body`设置相对定位，让这些元素基于`body`定位。 * 使字体渲染更顺滑。 *//*使如下元素默认鼠标经过是`小手`的形状（一般表示可以点击，在PC端挺好）*//***公共部分***//***侧边栏***/html {-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0);font-size:100px;height:100%;overflow-scrolling:touch;width:100%;}
body {-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family:"微软雅黑",sans-serif !important;height:100%;overflow-scrolling:touch;position:relative;text-rendering:optimizeLegibility;width:100%;background:#fff;font-size:12px;margin:0;padding:0;}
* {box-sizing:border-box;-webkit-box-sizing:border-box;outline:0;border-radius:0;-webkit-tap-highlight-color:transparent;}
p {margin:0;padding:0;}
i {font-style:normal;}
h1 {margin:0;padding:0;color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
h2 {margin:0;padding:0;color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
h3 {margin:0;padding:0;color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
h4 {margin:0;padding:0;color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
h5 {margin:0;padding:0;color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
h6 {margin:0;padding:0;color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
dl {margin:0;padding:0;}
dd {margin:0;padding:0;}
ul {margin:0;padding:0;list-style:none;}
ol {margin:0;padding:0;list-style:none;}
th {margin:0;padding:0;}
td {margin:0;padding:0;}
button {margin:0;padding:0;border:none;color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;cursor:pointer;}
figure {margin:0;padding:0;}
input {margin:0;padding:0;border:none;text-align:inherit;color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;-webkit-appearance:none;border-radius:0;outline:none;}
input::-moz-focus-inner {border:0;padding:0;}
input::-webkit-input-placeholder {color:#999999;}
input:-moz-placeholder {color:#999999;}
input::-moz-placeholder {color:#999999;}
input:-ms-input-placeholder {color:#999999;}
textarea {margin:0;padding:0;border:none;resize:none;color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
textarea::-webkit-input-placeholder {color:#999999;}
textarea:-moz-placeholder {color:#999999;}
textarea::-moz-placeholder {color:#999999;}
textarea:-ms-input-placeholder {color:#999999;}
form {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
a {color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;text-decoration:none;}
select {color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
option {color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
optgroup {color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;outline:none;}
input[type='submit'] {cursor:pointer;}
input[type='button'] {cursor:pointer;}
input[type='number'] {-moz-appearance:textfield;}
input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none;margin:0;}
input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;margin:0;}
template {display:none;}
li {margin:0;padding:0;list-style-type:none;}
a {text-decoration:none;}
.clear {zoom:1;}
.clear::after {clear:both;content:'.';display:block;height:0;visibility:hidden;}
.both {clear:both}
.pf {-webkit-transform:translateZ(0);position:fixed;}
.middle {bottom:0;left:0;margin:auto;position:absolute;right:0;top:0;}
.middle-v {-moz-transform:-moz-translateY(-50%);-o-transform:-o-translateY(-50%);-webkit-transform:-webkit-translateY(-50%);position:relative;top:50%;transform:translateY(-50%);}
.to {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.f_l {float:left;}
.f_r {float:right;}
.t_c {text-align:center;}
.t_l {text-align:left;}
.t_r {text-align:right;}
.none {display:none;}
.over_h {overflow:hidden;}
.btn {-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:manipulation;touch-action:manipulation;}
.border_none {border:none;}
.mask {position:fixed;top:0;left:0;width:100%;height:100%;z-index:16;-webkit-filter:blur(3px);background:rgba(0,0,0,0.5);cursor:pointer;}
.filter {-webkit-filter:blur(3px);}
em {font-style:normal;}
