
/*- - - - - - - - -小山设计工作室-www.bailu123.com - - - - - - -*/
bg-v{position:relative;left:0;width:100%;height:1000px;overflow:hidden;min-width:1200px;}
.bg-v .video{width:1920px;height:1000px;position:absolute;z-index:0;left:50%;top:0;transform:translateX(-50%);-webkit-transform:translateX(-50%);}
.bg-v video{position:absolute;left:50%;transform:translateX(-50%);}
.main{width:100%;height:100%;font-size:12px;-webkit-font-smoothing:antialiased;position:relative;max-width:1920px;left:50%;transform:translateX(-50%);}
.main .con1{width:100%;position:relative;overflow:hidden;height:1000px;z-index:9;pointer-events:none;}
.fl{float:left}
.fr{float:right}
.mt10{margin-left:12px;}
.ml50{margin-left:50px;}
.clearfix{zoom:1}
.warp{width:1280px;margin-left:auto;margin-right:auto;}
.microHei{font-family:"Microsoft YaHei"}
#Version{width:100%;height:1000px;position:relative;overflow:hidden;}
#Flash{width:1920px;height:1000px;position:absolute;left:50%;margin:0px auto -272px -961px;z-index:50;}
#Header{margin:0px auto -290px -961px;width:1920px;height:1000px;position:absolute;left:50%;}

.hao123{width:260px;height:20px;top:10px;left:50%;margin-left:360px;filter:alpha(opacity=0);-moz-opacity:0.0;-khtml-opacity:0.0;opacity:0.0;position:absolute;z-index:55;}
.kv-music { position:absolute; top:0px; left:50%; margin-left:-360px; width:80px; height:100px; z-index:1000;}
.logo2{width:98px; height:228px; position:fixed; top:0px; left:50%; cursor:pointer;;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;margin-left:560px;z-index:999999;}
.logo2 img{width:100%; height:100%;}
.logo1{width:50px; height:50px; position:absolute; top:17px;cursor:pointer;;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;right:80px;z-index:999999;}
.logo1 img{width:100%; height:100%;}
.cloud-l{width:428px;height:90px;background:url(../images/cloud-left.png) no-repeat;position:absolute;top:520px;z-index:99}
.cloud-r{width:403px;height:159px;background:url(../images/cloud-right.png) no-repeat;position:absolute;top:550px;z-index:99}
.cloud-b{width:580px;height:201px;background:url(../images/cloud-bottom.png) no-repeat;position:absolute;top:590px;z-index:99}
.slogen{width:700px;height:60px;position:absolute;left:50%;margin-left:-320px;top:680px;background:url(../images/slogen.png) no-repeat;z-index:99;}
.musicbox{width:47px;height:47px;position:absolute;z-index:500;top:15px;left:50%;cursor:pointer;margin-left:-200px}
.musicplay{background:url(../images/musicplay.png) no-repeat}
.musicstop{background:url(../images/musicstop.png) no-repeat}

.ml10 {margin-left:0px}
.bailu123_zb{float:left;width:1350px;height:auto;overflow:hidden;margin-left:-50px}
.bailu123_zb_3{width:450px;height:auto;overflow:hidden;float:left;;position:relative;margin-bottom:40px}
.bailu123_zb_3_t{width:450px;height:55px;float:left;background:url(../images/bailu123_3_t.png) no-repeat;;line-height:30px;color:#afa174;text-align:center;font-size:14px;font-weight:bold;}
.bailu123_zb_3_d{width:450px;height:55px;float:left;background:url(../images/bailu123_3_d.png) no-repeat;position:relative}
.bailu123_zb_3 .role-itemst{width:400px;height:auto;float:left;background:url(../images/bailu123_3_z.png) repeat-y;position:relative;padding:0px 25px 0;}
.bailu123_zb_3 .role-itemst img{width:340px;height:auto;overflow:hidden;display:block;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;margin:0 30px;}
.bailu123_zb_3 .role-itemst img:hover{width:340px;height:auto;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;padding:0px;padding-bottom:0px;}

.bailu123_zb_1{width:1350px;height:auto;overflow:hidden;float:left;margin-bottom:40px}
.bailu123_zb_1_t{width:1350px;height:55px;float:left;background:url(../images/bailu123_1_t.png) no-repeat; ;line-height:30px;color:#000;text-align:center;font-size:19px;font-weight:bold;}
.bailu123_zb_1_d{width:1350px;height:55px;float:left;background:url(../images/bailu123_1_d.png) no-repeat;;position:relative}
.bailu123_zb_1 .role-itemst{width:1220px;height:auto;float:left;position:relative;background:url(../images/bailu123_1_z.png) repeat-y;padding:10px 65px;}
.bailu123_zb_1 .role-itemst img{width:1220px;height:auto;overflow:hidden;display:block;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;padding:0px;}
.bailu123_zb_1 .role-itemst img:hover{width:1220px;height:auto;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;padding:0px;}