/*
*/
@charset "gb2312";
/* CSS Document */
* { margin:0; padding:0; }
body,td,th { font-size: 14px; }
body { font-size: 14px; font:"微软雅黑"; color:#FFF; background:#00070f; margin:0px;}

a { font-size: 14px; color: #FFF; }
a:link { text-decoration: none;}
a:visited { text-decoration: none; color:#FFF; }
a:hover { text-decoration: none; color:#900; text-decoration:underline;}
a:active { text-decoration: none; color: #900;}
ul {  margin:0 0 0 0; padding: 0; list-style: none; }
img{ border: 0;}


#Version{width:100%; height:859px; position:relative; overflow:hidden;}/*页面总高度再次调整*/
#Flash{width:1920px;height:859px;position:absolute;left:50%;margin:0px auto -272px -960px;z-index:1;}/*FLASH*/
#Header {  margin:0 auto -290px -960px; width:1920px;height:859px; position:absolute; left:50%;}/*BG*/
.head_bg { background:url("bg02.jpg"/*tpa=http://180.188.17.231:9888/images/bg02.jpg*/) top center no-repeat;}
.head_5 { margin:0 auto; width:1240px; overflow:hidden;}
.head_6 { width:1240px; overflow:hidden;}
.head_7 { width:1240px; overflow:hidden;}
.head_8 { background:url("boxs02.png"/*tpa=http://180.188.17.231:9888/images/boxs02.png*/) repeat-y ; width:1240px; overflow:hidden;}
.head_9 { background:url("boxs01.png"/*tpa=http://180.188.17.231:9888/images/boxs01.png*/) top no-repeat; width:1240px; overflow:hidden;}
.head_10 { background:url("boxs03.png"/*tpa=http://180.188.17.231:9888/images/boxs03.png*/) bottom no-repeat; width:1240px; overflow:hidden;}

.head_11 { width:1240px; overflow:hidden;}
.head_12 { margin:0 72px 0 72px; width:1096px; overflow:hidden;}
.head_13 { background:url("nev.jpg"/*tpa=http://180.188.17.231:9888/images/nev.jpg*/); width:1096px; height:60px; margin-bottom:10px; line-height:60px; text-align:left;}
.head_13 a { margin-left:30px; font-family:"微软雅黑"; font-size:24px; font-weight:200; color:#6FF;}

#head_14 li { width:1096px; overflow:hidden; line-height:34px; text-align:left; background:url("go1.jpg"/*tpa=http://180.188.17.231:9888/images/go1.jpg*/) left no-repeat; font-family:"微软雅黑"; font-weight:200; font-size:18px; color:#FFF;}
#head_14 a { margin-right:5px; font-family:"微软雅黑"; font-size:18px; font-weight:200; color:#0C9;}
#head_14 span { margin-left:45px;}
#head_14 li:hover { color:#FF0; text-shadow:1px 1px 10px #000;}

.head_15 { width:1096px; overflow:hidden;}
.head_16 { float:left; width:400px; overflow:hidden;}
.head_17 { float:right; width:296px; height:296px; line-height:296px; text-align:center;}
.head_17 img { text-align:center; padding:40px 0;}
.head_19 { float:left; width:400px; overflow:hidden;}

#head_18 li { margin:0 0 0 10px; width:390px; overflow:hidden; line-height:40px; text-align:left; font-family:"微软雅黑"; font-weight:200; font-size:18px; color:#FFF;}
#head_18 a { margin-right:5px; font-family:"微软雅黑"; font-size:22px; font-weight:200; color:#0C9;}
#head_18 span { margin-left:25px;}
#head_18 li:hover { color:#FF0; text-shadow:1px 1px 10px #000;}

.head_21 { width:1096px; overflow:hidden;  }
.head_22 { width:1094px; overflow:hidden;border:double 1px #0CF; background:#000;}
.head_23 { margin:10px 10px; width:1074px; overflow:hidden;}
.head_23 img { transition:0.5s;}
/*.head_23 img:hover { transform:rotate(360deg); display:block;}*/


.head_1 { width:100%; position:absolute; overflow:hidden; z-index:3; top:0; left:0;}
.head_2 { margin:0 auto; width:1240px; overflow:hidden;}
.head_3 { width:1240px; height:1050px; position:relative;}

/*滑门按钮*/
#tab { width:1240px; height:1050px;}
#tab li{ width:204px; height:204px;}

.btn-1 { position:absolute; top:830px; left:40px; z-index:4; width:204px; height:204px;}
.btn-2 { position:absolute; top:785px; left:275px; z-index:4; width:204px; height:204px;}
.btn-3 { position:absolute; top:830px; left:516px; z-index:4; width:204px; height:204px;}
.btn-4 { position:absolute; top:785px; right:275px; z-index:4; width:204px; height:204px;}
.btn-5 { position:absolute; top:830px; right:40px; z-index:4; width:204px; height:204px;}

.bgimg { position:absolute; top:0; left:0;}
.bgimg img { transition:0.5s;}
.bgimg img:hover { transform:rotate(360deg); display:block;}
.bgima { position:absolute; top:40px; left:79px;}
.bgima img { transition:0.5s;}
.bgima img:hover { transform:rotate(-360deg); display:block;}
.test { position:absolute; top:90px; left:50px; font-family:"微软雅黑"; font-size:26px; font-weight:200; color:#FFF;}
.test:hover { color:#0FF; text-decoration:none; text-shadow:1px 1px 10px #000;}
.testa { position:absolute; top:140px; left:83px; font-size:12px; color:#6FF; width:40px; height:20px; line-height:20px; text-align:center; border-radius:40%; background:rgba(0,21,0,0.4);}
.testa:hover { color:#0FF; text-decoration:none; text-shadow:1px 1px 10px #000;}
.head_4 { position:absolute; top:680px; left:500px; width:230px; height:110px;}

.tablist { display:none;}
.block{ display:block;}

.head_24 { background:url("footer.jpg"/*tpa=http://180.188.17.231:9888/images/footer.jpg*/) bottom center no-repeat; margin-top:30px;}
.head_25 { margin:0 auto; width:1240px; overflow:hidden;}
.head_26 { background:url("boxs05.png"/*tpa=http://180.188.17.231:9888/images/boxs05.png*/) repeat-y; width:1240px; overflow:hidden;}
.head_27 { background:url("boxs04.png"/*tpa=http://180.188.17.231:9888/images/boxs04.png*/) top no-repeat; width:1240px; overflow:hidden;}
.head_28 { background:url("boxs06.png"/*tpa=http://180.188.17.231:9888/images/boxs06.png*/) bottom no-repeat; width:1240px; overflow:hidden;}
.head_29 { margin:0 auto; width:1240px; overflow:hidden;}
.head_30 { overflow:hidden; width:1096px; margin-bottom:20px;}
.head_30 tr { background:#172537;}
.head_30 tr:hover { background:#0C4567;}
.head_30 td { font-family:"微软雅黑"; font-weight:200; font-size:18px; color:#6FF; text-shadow:1px 1px 10px #000;}
.head_30 td a { font-family:"微软雅黑"; font-weight:200; font-size:18px; color:#6FF;}
.head_30 td:hover { font-family:"微软雅黑"; font-weight:200; font-size:18px; color:#CF0; text-shadow:1px 1px 10px #000;}
.head_30 td a:hover { font-family:"微软雅黑"; font-weight:200; font-size:18px; color:#0F0;}

.head_112 {width:1200px; margin: 0 auto; position:absolute; left:50%; margin-left:-600px; margin-top:0px;  z-index:2; overflow:hidden;}/*整体*/


.footer { background:#000;}
.footer_1 { margin:0 auto; width:1200px; overflow:hidden;}


.topbg_1 { position:fixed; width:100%; overflow:hidden; top:0; top:0; z-index:88;}
.topbg_2 { background:url("top.png"/*tpa=http://180.188.17.231:9888/images/top.png*/) top center no-repeat;}
.topbg_3 { margin:0 auto; width:1200px; overflow:hidden;}
.topbg_4 { position:relative; width:1200px; height:131px;}
.topbg_5 { position:absolute; top:0; left:0; width:220px; height:85px;}
.topbg_6 { position:absolute; top:20px; left:290px; width:800px; height:40px; line-height:40px; text-align:left; font-family:"微软雅黑"; font-weight:200; color:#09F; font-size:22px;}
.topbg_7 { position:absolute; top:0; right:0; width:80px; height:85px;}

.leftad { position:fixed; top:600px; right:0; width:218px; height:286px; z-index:99; background:url("left_btnb_bg.png"/*tpa=http://180.188.17.231:9888/images/left_btnb_bg.png*/);}
.leftad_1 { width:218px; height:122px;}
.leftad_2 { margin:0 65px 0 33px; width:120px; overflow:hidden;}
.leftad_3 { width:120px; height:71px; background-image:url("left_btn.jpg"/*tpa=http://180.188.17.231:9888/images/left_btn.jpg*/); background-position:left 0; transition:0.5s; margin-bottom:2px;}
.leftad_3:hover { background-position:left -72px;}
.leftad_4 { width:120px; height:71px; background-image:url("left_btn1.jpg"/*tpa=http://180.188.17.231:9888/images/left_btn1.jpg*/); background-position:left 0; transition:0.5s; margin-bottom:2px;}
.leftad_4:hover { background-position:left -72px;}

.kv-music{position:fixed;z-index:50;top:150px; right:50px; width:58px;height:100px;}